.calendarContainer {
    background-color: #E3EFE6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e3f0e7;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 10px 0;
    
}

.calendarTitle {
    text-align: center;
    color: #564946;
    margin-top: 70px;
}


.custom-calendar .react-calendar__tile {
    background-color: #b5cfbe00;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
    height: 80px;
    margin-bottom: 10px;
    border: none;
    

}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
    background-color: #A4CFB2;
}

.custom-calendar .react-calendar__tile--active {
    background-color: #A4CFB2;
    color: white;
}

.react-calendar__month-view__weekdays {
    color: #564946;
    text-decoration: none !important;

}


.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    background-color: #578164;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.react-calendar__navigation__label {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.react-calendar__navigation__arrow {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.react-calendar__navigation__arrow:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.infoCard {
    border: 3px solid #A4CFB2;
    margin: 10px;
    border-radius: 10px;
    background-color: #cbe7d4bb;
    box-shadow: 0px 4px 10px #cbeed7; 

}

.dateCard {
    margin-top: 0px;
    background-color: #89b998;
    color: white;
}


