.hH {
    color: white;
    margin-top: 45%;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.home-container {
    background-image: url('../assets/backhome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    padding: 20px;
}

body {
    background-color: transparent;
}

html,
body {
    margin: 0;
}