

.hH {
    color: white;
    margin-top: 45%;
}

.home-container {
    background-image: url('../assets/backhome.jpg'); 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex; 
    padding: 20px; 
}

body {
    background-color: transparent; 
}

html, body {
    margin: 0;
}
