#root {
  margin: 0 auto;
  text-align: center;
}

header {
  position: fixed; /* Asegura que el header esté siempre en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para el header */
  padding: 10px;
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
}
